body, td {
  font-family: arial, sans-serif;
  font-size: 10pt;
}

h1 {
  color: #336699;
}

img {
  cursor: pointer;
  border: solid 1px white;
}

img.hilite {
  border: solid 1px red;
  background-color: #dddddd;
}

.title {
  color: #003366;
  font-size: 12pt;
}

.hint {
  font-style: italic;
  color: #336699;
}

.help {
  color: #336699;
  font-size: 12pt;
  margin-bottom: 10px;
}

#sort_options
{
  margin-bottom: 10px;
}

#value_list
{
  border: solid 1px #336699;
  
  width: 100%;
 
}

#value_actions
{
   padding: 4px 4px 4px 4px;
   background-color: #dddddd;
}


#value_table_container
{
  border-top: solid 1px #336699;
  height: 300px;
  overflow: auto;
}

#value_table
{
  width: 100%;
}

#value_table td.number
{
  text-align: right;
  font-family: courier, monospace;
}

#value_table td.comment
{
  color: green;
  font-style: italic;
  font-family: courier, monospace;
}

#bit_labels
{
  font-size: 10px;
}

#bit_labels, #components {
  width: 768px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#bit_labels li {
  height: 16px;
  border: none;
  font-weight: bold;
  border-left: solid 1px #336699;
  width: 47px;
}

#components li, div.component, div#values {
  height: 120px;
}

#bit_labels li, #components li {
  float: left;
  text-align: center;
}

#components li, div.component, div.pin, div.seg {
  width: 48px;
}

#components li {
  cursor: pointer;
  border: none;
}

#values {
  font-family: courier, monospace;
}

.bit_is_0
{
  background-image: url(images/bit-box-0.png);
}

.bit_is_1
{
  background-image: url(images/bit-box-1.png);
}

li.hi-bit-title
{
  color: #003366;
}

div.seg, div.pin
{
  font-size: 12px;
  height: 20px;
}

div.seg {
  padding-top: 20px;
  color: black;
}

div.pin {
  padding-top: 15px;
  color: white;
}

#values {
  background-image: url(images/values.png);
  width: 228px;
}

#value_dec, #value_hex, #value_bin {
  width: 180px;
  height: 20px;
  text-align: right;
  font-size: 13px;
}

#value_dec {
  padding-top: 17px;
}

#value_hex {
  padding-top: 15px;
}

#value_bin {
  padding-top: 16px;
}


